
.inscription-container{
    margin: 100px auto 80px auto;
    max-width: 600px;
    
    
} 

.label-style{
    margin-bottom: 10px;
    display: block;
    font-family: "Fira Sans", sans-serif;

}
/*top right buttom left */

.input-style{
    margin-bottom: 20px;
    padding: 11.2px 15.2px 11.2px 15.2px; 
    font-family: "Fira Sans", sans-serif;
}

